body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}


.header-logo .logo-part{
    color: #2e2f42;
}

.footer-logo .footer-logo-part{
    color: #fff;
} 

.nav-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}

.contacts{
    font-style: normal;
}

.contacts-link{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.main-order{
    background-color: #2e2f42;
}

.main-order-title{
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            text-align: center;
            color: #fff;
}

.main-team-img{
    background-color: #fff;
}


.order-button{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            background-color: #4d5ae5
}

.order-button{
    cursor: pointer;
}



.main-team{
    background-color: #f4f4fd;
}

.main-team-title{
                font-weight: 700;
                font-size: 36px;
                line-height: 1.11111;
                letter-spacing: 0.02em;
                text-align: center;
                color: #2e2f42;
}

.main-team-img-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.main-team-img-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;

}

.main-portfolio{
    background-color: #fff;
}

.main-portfolio-title{
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11111;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
}

.main-portfolio-img-title{
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
}

.page-footer{
    background-color: #2e2f42;
}

.footer-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

